header {
    margin: 3em;
}

h1 {
    text-align: center;
    color: #fff;
    background-color: cornflowerblue;
}

nav {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a:link, a:visited {
    color: black;
    text-decoration: none;
}

/* Practice
=============== */

@media screen and (max-width: 440px) {
    body {
        background-color: crimson;
    }
}

@media screen and (min-width: 440px) and (max-width: 768px) {
    body {
        background-color: darkcyan;
    }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
    body {
        background-color: orangered;
    }
}

.animate {
    width: 200px;
    animation-name: animateLogo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animateLogo {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    50% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}